<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="xofz.HasteTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <xofz.HasteTracker.Properties.Settings>
            <setting name="PublicApiKey" serializeAs="String">
                <value>Enter public key here</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>us</value>
            </setting>
            <setting name="CharacterName" serializeAs="String">
                <value>Enter character name here</value>
            </setting>
            <setting name="Realm" serializeAs="String">
                <value>Realm name goes here</value>
            </setting>
            <setting name="ApiSecret" serializeAs="String">
                <value>Enter API secret here</value>
            </setting>
            <setting name="FocusLostMilliseconds" serializeAs="String">
                <value>200</value>
            </setting>
        </xofz.HasteTracker.Properties.Settings>
    </applicationSettings>
</configuration>